.navbar{
    background-color: rgba(255, 255, 255, 0.6);
}

.home-back-img{
    background-image: url("../../assets/imgs/fundo.jpg");
    background-repeat: no-repeat;
    background-position: center;
    height: 600px;
    width: 100%;
    padding-top: 100px;
}

.home-cap-img{
    background-color: rgba(255,255,255, 0.6);
    width: 30%;
    height: 150px;
    text-align: center;
    padding-top: 45px;
    margin: auto;
    margin-top: 150px;
}

.home-cap-img h3{
}