body{
    font-family: Hind,sans-serif;;
}

.topo-topo{
    width: 100%;
    height: 35px;
    line-height: 35px;
    background-color: #ccc;
    color: black;
}

.topo-topo-right{
    float: right;
    font-weight: 600;
}

.fixed-top {
    top: 35px;
}

.topo{
    height: 100px;
    width: 100%;
    position: absolute;
    border-bottom: solid 1px #FDF21C;
}

#nav-link{
    color: black;
    font-weight: 600;
}

#nav-link:hover{
    background-color: #FDF21C;
    color: black;
}

.footer{
    padding-top: 15px;
    width: 100%;
    background-color: #292b2c;
    color: white;
    bottom: 0;
    border-top: solid 2px #FDF21C;
}

.area-contato-box{
    padding-left: 20px;
    font-size: 15px;
}

.area-titulo img{
    width: 32px;
}

.area-titulo-imagem{
    height: 32px;
    line-height: 64px;
    float: left;
}

.area-titulo-texto{
    margin-left: 40px;
    padding-top: 7px;
}

.area-descricao{
    margin-top: 15px;
}

.rodape{
    border-top: solid 1px #FDF21C;
    padding: 10px;
    text-align: center;
    font-size: 14px;
}

.rodape p,a{
    margin: 10px 20px;
    color: #fff;
}

.footer .container{
    line-height: 18px;
    margin-top: 5px;
    display: block;
}