.navbar{
    background-color: rgba(255, 255, 255, 0.9);
    /*background-color: rgba(255, 255, 255, 0.7);*/

}

.container div button{
    cursor: pointer;
    background-color: white;
    width: 80px;
    height: 40px;
    border: 0;
}

.container .botoes{
    border: 1px solid black;
    height: 42px;
    width: 183px;
    margin: auto;
    margin-bottom: 50px;
    margin-top: 30px;
}

.container div a{
    margin-left: 0;
    margin-right: 0;
    margin-top: 15px;
    margin-bottom: 40px;
}

#btn1{
    border-right: 0;
    float: left;
}

#btn1:hover{
    background-color: black;
    color: #FDF21C;
}

#btn2{
    border-left: 0;
    float: right;
    padding-left: 15px;
    padding-right: 15px;
    width: 100px;
}

#btn2:hover{
    background-color: black;
    color: #FDF21C;
}


label span{
    color: red;
}

.home-back-img{
    background-image: url("../../assets/imgs/fundo.jpg");
    background-repeat: no-repeat;
    background-position: center;
    height: 100px;
    width: 100%;
    padding-top: 100px;
}

.duvida{
    color: black;
}

.duvida-box{
    height: 60px;
    cursor: pointer;
}

.duvida-numero{
    text-align: center;
    height: 60px;
    float: left;
    border: solid white 5px;
    width: 60px;
    border-radius: 30px;
    line-height: 47px;
    background-color: #ede21a;
    font-weight: bolder;
    font-size: 20px;
}

.duvida-container-titulo{
    background-color: #ede21a;
    height: 50px;
    border-top: solid white 10px;
    margin-left: 45px;
    border-radius: 10px;
    border-top-right-radius: 20px;
    line-height: 40px;
    padding-left: 35px;
    font-size: 15px;
}
.duvida-icon{
    float: right;
    margin-right: 10px;
    margin-top: 9px;
}
.duvida-corpo{
    display: none;
    color: black;
    margin-right: 15px;
    margin-left: 55px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    border: solid #ede21a 2px;
    border-top: solid transparent;
    text-align: justify;
}
.duvida-titulo{
    float: left;
}

.duvida-nao-encontrada a{
    color: black;
    margin: 0;
}

.duvida-nao-encontrada a:hover{
    color: #ede21a;
}

input:focus {
    outline: none !important;
    border: 1px solid #FDF21C;
    box-shadow: 0 0 10px #FDF21C;
}

@media only screen and (max-width: 465px) {
    .duvida-container-titulo {
        padding-left: 20px;
        font-size: 10px;
    }
    .duvida-corpo {
        font-size: 11px;
    }
    .duvida-icon img{
        width: 18px;
    }
    .duvida-nao-encontrada{
        font-size: 12px;
    }
}