.home-back-img{
    background-image: url("../../assets/imgs/fundo.jpg");
    background-repeat: no-repeat;
    background-position: center;
    height: 600px;
    width: 100%;
    padding-top: 150px;
}

.container-login{
}
h2{
    color: #000;
    float: left;
    margin-top: 20px;
    font-family: 'Noto Sans', sans-serif;
    font-size: 30px;
    margin-left: 15px;
    margin-bottom: 40px;
}
.btnentrar{
    background-color: #1E90FF;
    border-color: #1E90FF;
}

.btnentrar:hover {
    background-color: #4682B4;
    border-color: #4682B4;
}
#caixa{
    height: auto;
    width: 450px;
    margin: auto;
    margin-top: 50px;
    border-radius: 10px;
    padding: 20px;
    min-width: 300px;
    background-color: rgba(255, 255, 255, 0.8);
}

.btn{
    cursor: pointer;
}
.loading{
    display: none;
    float: right;
}