@font-face {
    font-family: "GothamRounded-Light";
    src: url('../fonts/GothamRoundedLight.ttf') format("truetype");
}

.navbar{
    background-color: rgba(255, 255, 255, 0.9);
    /*background-color: rgba(255, 255, 255, 0.7);*/

}

.home-back-img{
    background-image: url("../../assets/imgs/fundo.jpg");
    background-repeat: no-repeat;
    background-position: center;
    height: 190px;
    width: 100%;
    padding-top: 100px;
}

.menu-produtos{
    /*background-color: #F5F5F5;*/
    background-color: rgba(255, 255, 255, 0.9);
    width: 100%;
    height: 100%;
}

.menu-produtos .container{
    padding-top: 15px;
    height: 40px;
}

.menu-produtos .container h5{
    font-size: 12px;
    color: #4d4d4d;
}

.menu-produtos .container a{
    color: #4d4d4d;
    margin: 10px 10px;
    font-weight: 700;
}

.menu-produtos .container a:hover{
    text-decoration: underline;
}

.menu-ex-categorias{
    width: 100%;
    background-color: #292b2c;
}

.menu-categorias{
    list-style: none;
    width: 550px;
    margin: auto;
    height: 50px;
    line-height: 50px;
    overflow: hidden;
    align-content: center;
    padding: 0;
}

.menu-categorias li{
    list-style: none;
    float: left;
    cursor: pointer;
    padding-left: 15px;
    padding-right: 15px;
}

.menu-categorias li:hover{
    background-color: white;
}

.menu-categorias li a{
    display: block;
    width: 100%;
    height: 100%;
    color: white;
    margin: 0;
}

.menu-categorias li a:hover{
    color: black;
    text-decoration: none;
}

.menu-categorias li div{
    float: left;
    padding: 8px;
    margin-top: 6px;
    margin-right: 5px;
    background-color: #292b2c;
    border-radius: 26px;
}

.menu-categorias li div img{
    width: 25px;
}

.menu-categorias li p{
    float: left;
    margin-bottom: 0;
    margin-top: 3px;
    font-weight: 600;
}

.banner-category, .banner-product {
    font-family: 'GothamRounded-Light';
    position: relative;
    padding: 30px 0;
    background: #FFF;
}

.banner-category .container {
    width: 100%;
    max-width: 960px;
    position: relative;
    margin: 0 auto;
}

.banner-product .container {
    width: 100%;
    max-width: 960px;
    position: relative;
    margin: 0 auto;
}

.banner-category .cols, .banner-product .cols {
    margin: 0 -50px;
}

.banner-category .col, .banner-product .col {
    width: 50%;
    padding: 5px 50px;
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.banner-category .col.col-6, .banner-product .col.col-6 {
    border-right: 1px solid #e6e6e6;
}

.banner-category .call, .banner-product .call {
    margin: 10px 0 0;
}

.banner-category .call .t1, .banner-product .call .t1 {
    font-size: 45px;
}

.light {
    font-family: 'GothamRounded-Light;
}

.black-80 {
    color: #333!important;
}

.banner-category .call .t2, .banner-product .call .t2 {
    line-height: 16px;
}

.mt15 {
    margin-top: 15px!important;
}

.black-60 {
    color: #666!important;
}

.form-horizontal .input, .form-horizontal .textarea {
    width: 100%;
    padding: 20px;
    font-size: 16px;
    color: #666;
    border: 1px solid #ccc;
    resize: none;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
    font-family: 'GothamRounded-Light;
}

.form-horizontal .input:active{
    border: 1px solid #FDF21C;
}


input:focus {
    outline: none !important;
    border: 1px solid #FDF21C;
    box-shadow: 0 0 10px #FDF21C;
}


#form-search .input {
    padding-left: 58px;
}

.div-lista-produtos{
    background-color: #c0c0c0;
    padding-top: 40px;
    padding-bottom: 40px;
}

.item-produto{
    width: 100%;
    border-radius: 15px;
    cursor: pointer;
    background-color: #FFFFFF;
    margin-bottom: 20px;
}

.item-produto:hover{
    border: 4px solid #FDF21C;
    margin-bottom: 12px;
}

.item-produto-foto{
    overflow: hidden;
    max-height: 250px;
}

.item-produto-foto img{
    border-radius: 15px 15px 0px 0px;
    max-width: 100%;
    max-height:100%;
    width: auto;
    height: auto;
}

.item-produto a:hover{
    text-decoration: none;
}

.item-produto-nome{
    padding: 15px;
    font-family: Hind;
    color: black;
}

.lista-tags{
    float: left;

}

.lista-tags ul{
    list-style: none;
    padding: 0;
}


.lista-tags li:hover{
    background-color: black;
    color: white;
}

.lista-tags ul li a{
    padding: 10px;
    color: black;
    margin: 0;
    display: block;
    width: 100%;
}

.lista-tags ul li a:hover{
    color: white;
}

.lista-tags-1{
    margin-right: 10px;
}

.lista-tags-2{
    margin-right: 10px;
    margin-left: 10px;
}

.lista-tags-3{
    margin-left: 10px;
}

.lista-tags-borda{
    border-right: 1px solid #e6e6e6;
    height: 140px;
}
